PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=restaurant_website

SMTP_HOST=smtp.mail.yahoo.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_email@yahoo.com
SMTP_PASS=your_app_password
CONTACT_FROM_EMAIL=your_email@yahoo.com
CONTACT_EMAIL_TO=sam_1072@yahoo.com

RESEND_API_KEY=your_resend_api_key
RESEND_FROM=Your Restaurant <onboarding@resend.dev>

