PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=restaurant_website

SMTP_HOST=smtp.mail.yahoo.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_email@yahoo.com
SMTP_PASS=your_app_password
CONTACT_FROM_EMAIL=your_email@yahoo.com

