<section class="gallery-showcase">
  <h1 class="menu-title">Gallery</h1>
  <p class="gallery-intro">Explore signature dishes, fresh sides, and house favorites from AL YAMANI RESTAURANT.</p>

  <div class="gallery-grid">

    <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage1.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage2.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage3.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage4.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage5.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage6.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage7.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage8.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage9.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage10.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage11.jpg" alt="Fresh juice drink" loading="lazy">
    </article>

     <article class="gallery-card" style="--delay: 0.45s;">
      <img src="/images/galleryImage12.jpg" alt="Fresh juice drink" loading="lazy">
    </article>


  </div>
</section>
